TargetPlatformModel SystemWebotsPioneer3DXNavigation
{
  TargetPlatformDefinition PC1
  {
    NetworkInterface eth1
    {
      HostAddress "localhost"
    }
  }
}
