##################
# Specific rules #
##################


# untracked files
BatteryEventServiceOutEventTestHandler.*
BatteryEventTask.*
LocalizationUpdateHandler.*
NavigationVelocityHandler.hh
ParameterStateStruct.*


