TargetPlatformModel SystemLaserObstacleAvoidTiagoWebotsSimulator
{
	TargetPlatformDefinition PC1
	{
		LoginAccount dange { FullName "dange" Email "guest@example.com" }
		NetworkInterface eth2 { HostAddress "localhost" }
	} 
}