TargetPlatformModel SystemLaserObstacleAvoidTiagoWebotsSimulator
{
  TargetPlatformDefinition PC1
  {
    NetworkInterface eth2
    {
      HostAddress "localhost"
    }
    LoginAccount dange
    {
      FullName "dange" Email "guest@example.com"
    }

  }
}
