##################
# Specific rules #
##################


# untracked files
BaseStateQueryHandler.cc
BatteryEventServiceOutEventTestHandler.*
BatteryEventTask.*
LocalizationUpdateHandler.*
NavigationVelocityHandler.hh
ParameterStateStruct.*

# tracked files
!predeploy*
